@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka One');
@import 'tailwindcss';

@theme {
  --font-poppins: "Poppins", sans-serif;
  
  --font-fredoka: "Fredoka One", sans-serif; 
  --color-primary: #95B1EE;
  --color-primary2: #6A8DD9;
  --color-honeydew: #FFFDF5;
  --color-green: #e7f1a8;
  --color-navy: #364CB4;
  --color-lightgray: #DDDDDD;
  --color-gray: #A7A7A7;
  --color-graycancle: #404040;
  --color-darkgray: #3c4045;
  --color-azureblue: #4078F3;
  --color-royalblue: #004cfe;
  --color-bluegray: #6A8DD9;
  --color-greensubmit: #83FD7A;
}
.calendar-week {
  transition: transform 0.3s ease;
}
@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.animate-scale-in {
  animation: scale-in 0.3s ease-in-out forwards;
}

.animate-scale-out {
  animation: scale-out 0.3s ease-in-out forwards;
}

@keyframes bounce-left {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.hover\:animate-bounce-left:hover {
  animation: bounce-left 1s infinite;
}

/* 
@tailwind utilities;
@tailwind components;
@tailwind base; */